.repo {
  &-description {
    margin-bottom: 4px!important;
  }

  &-list {
    position: relative;
  }

  &-list-item {
    list-style: none;
  }

  &-name {
    font-size: 16px!important;
  }

  &-list {
    padding-left: 0;
  }

  &-details {
    margin-right: 16px!important;
  }

  &-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  &-page { 
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    .previous {
      margin-right: 1%;
    }
  
    .next {
      margin-left: 1%;
    }
  }
  
  &-result-count {
    margin-top: 20px;
  }

  &-metadata {
    font-size: 12px !important;
  }
}
